* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
    color: #eeeeee;
}

h1 {
    padding: 1rem 0rem;
    letter-spacing: 3px;
}

section {
    background-color: #2d2d2d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 1rem;
}

section:nth-child(2n) {
    background-color: #6b6b6b;
}


/* Main view */

.main-view {
    height: 100vh;
    background: linear-gradient(135deg, #0F2027a0 0%, #203A43a0 60%, #2C5364a0 100%), url("../img/11.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
}

img.face {
    height: 10rem !important;
    width: 10rem !important;
    border: 5px solid #00a2ff;
    border-radius: 50%;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

nav ul {
    display: inherit;
    padding-top: 1rem;
    justify-content: center;
}

.main-view nav ul li {
    padding: 1rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.main-view nav ul li:hover {
    border-bottom: 2px solid #00a2ff;
    transition: 500ms ease-in-out;
}

.main-view nav ul li:hover a {
    text-shadow: 2px 2px #2d2d2d1c;
}

#education .degree {
    font-weight: bold;
    font-size: 1.2rem;
}

#education li div:not(.degree) {
    padding-left: .5rem;
}

#education li {
    padding: 1rem;
}